.mode-container {
  display: inline-flex;
  align-items: flex-start;
  margin: 1rem;
  padding: 0.75rem;
  flex-direction: row;
  border-radius: 1.5rem;
  background-color: white;
  gap: 1rem;
}

.mode-button {
  background-color: transparent;
  height: 3.8rem;
  width: 3.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  cursor: pointer;
  border: none;
}

.mode-button:hover {
  background-color: #cacaca;
  transition: background-color 0.2s ease;
}

.mode-button.active {
  background-color: #202124;
}

.mode-button.active:hover {
  background-color: #2d2e32;
  transition: background-color 0.2s ease;
}

.mode-button img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}
