* {
  box-sizing: border-box;
}

.board-container {
  display: flex;
  flex-direction: column;
  width: 35rem;
  height: calc(100% - 6rem);
  margin: 0.85rem 1rem 0 1rem;
  padding: 0.5rem;
  flex-shrink: 0;
}
