* {
  box-sizing: border-box;
}

.board-container {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 4rem);
  width: 35rem;
  margin: 2rem 1rem;
  padding: 0.5rem;
  flex-shrink: 0;
}
