.gantt-chart-wrapper {
  flex-grow: 1;
  background-color: white;
  box-sizing: border-box;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  min-height: 0;
}

.gantt-year-selector {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 0.8rem;
  padding-right: 1rem;
}

.gantt-year-selector select {
  padding: 0.2rem;
  border-radius: 4px;
  cursor: pointer;
  background-color: rgba(238, 238, 240, 1);
  border: none;
  font-family: Inter;
  font-weight: 500;
  font-size: 1rem;
  line-height: 150%;
  letter-spacing: 0%;
  vertical-align: middle;
  color: rgba(63, 63, 63, 1);
}

.gantt-main-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  min-height: 0;
  border: 2px solid #ddd;
  border-radius: 0.7rem;
  overflow: hidden;
  position: relative;
}

/* МЕСЯЦЫ */

.gantt-header {
  display: flex;
  width: 100%;
  border-bottom: 2px solid #ccc;
  background-color: #f7f7f7;
  position: sticky;
  top: 0;
  z-index: 10;
}

.gantt-month-column {
  flex: 1;
  min-width: 0;
  text-align: center;
  padding: 0.5rem 0;
  background-color: white;
}

.gantt-month-column-text {
  font-family: Inter;
  font-weight: 600;
  font-size: 1rem;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
  color: rgba(115, 115, 115, 1);
  margin: 0;
}

.gantt-month-column.current-month {
  background-color: #e0e0e0;
  color: #000;
}

/* ТАЙМЛАЙН */

.gantt-timeline-container {
  flex-grow: 1;
  position: relative;
  overflow-x: hidden;
  min-height: 0;
  padding: 0;
}

.gantt-timeline-container.scrollbar-fixed {
  overflow-y: scroll;
  padding-right: 15px;
  width: calc(100% + 15px);
  margin-right: -15px;
}

.gantt-boards-content {
  position: relative;
  width: 100%;
}

/* СЕТКА */

.gantt-main-container > .gantt-month-line,
.gantt-main-container > .gantt-today-line {
  position: absolute;
  top: calc(2.5rem + 2px);
  bottom: 0;
  z-index: 1;
}

.gantt-main-container > .gantt-month-line {
  width: 2px;
  background-color: #eee;
}

.gantt-main-container > .gantt-today-line {
  width: 2px;
  background-color: #ee6868;
  z-index: 5;
}

/* ДОСКИ */

.gantt-board-row {
  position: absolute;
  border-radius: 4px;
  box-sizing: border-box;
  cursor: pointer;
  z-index: 2;
  transition: box-shadow 0.2s;
  overflow: hidden;
  display: flex;
  align-items: center;
  max-width: 100%;
}

.gantt-board-row:hover {
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.1);
}

.gantt-non-progress-text-container {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  top: 0;
  left: 0;
}

.gantt-progress-bar {
  height: 100%;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  font-weight: 500;
  box-sizing: border-box;
  white-space: nowrap;
}

.gantt-board-name,
.gantt-board-dates {
  margin: 0;
  padding: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin: 0 0.5rem;
}

.gantt-board-row .light-text {
  color: rgba(63, 63, 63, 1);
  margin: 0 0.5rem;
}

.gantt-board-dates.light-text {
  color: rgba(101, 101, 101, 1);
  margin: 0 0.5rem;
}

.gantt-progress-bar .dark-text {
  color: white;
}

.gantt-board-name {
  font-family: Inter;
  font-weight: 600;
  font-size: 0.85rem;
  line-height: 125%;
}

.gantt-board-dates {
  font-family: Inter;
  font-weight: 500;
  font-size: 0.7rem;
  line-height: 150%;
  vertical-align: middle;
}

/* СКЕЛЕТОНЫ */

@keyframes pulse {
  0% {
    background-color: #f3f3f3;
  }
  50% {
    background-color: #ecebeb;
  }
  100% {
    background-color: #f3f3f3;
  }
}

.gantt-skeleton-year-select {
  height: 30px;
  width: 100px;
  border-radius: 4px;
  animation: pulse 1.5s infinite ease-in-out;
}

.gantt-month-column .gantt-skeleton-month-text {
  color: #ccc !important;
  background-color: transparent !important;
}

.gantt-skeleton-bar {
  background-color: #e0e0e0;
  border: 1px solid #d3d3d3;
  position: absolute;
  border-radius: 4px;
  overflow: hidden;
  animation: pulse 1.5s infinite ease-in-out;
}

.gantt-skeleton-bar .gantt-skeleton-text {
  height: 10px;
  width: 60%;
  margin: 10px;
  background-color: #cccccc;
  border-radius: 2px;
}
