.demo-container {
  justify-content: center;
  box-sizing: border-box;
  flex-wrap: wrap;
  display: flex;
  width: 100%;
  height: auto;
  margin-top: 5rem;
}

.h2-style-demo {
  margin: 3rem auto;
  text-align: center;
  font-family: UNCAGE_BOLD;
  font-weight: 700;
  font-size: 3.5rem;
  line-height: 150%;
  letter-spacing: 0%;
  width: 100%;
  color: #202124;
}

.demo-container button {
  box-sizing: border-box;
  margin: 0 auto 2rem auto;
  padding: 1rem 2rem;
  border-radius: 3rem;
  border: none;
  color: #ffffff;
  background-color: #202124;
  cursor: pointer;
  font-family: Inter;
  font-weight: 500;
  font-size: 2rem;
  line-height: 150%;
  letter-spacing: 0%;
  vertical-align: middle;
  box-shadow: 0.65rem 0.65rem 0.75rem rgba(0, 0, 0, 0.4);
}

.demo-container button:hover {
  background-color: #e04e00;
}

/* 14 Pro Max */
@media (min-width: 420px) and (max-width: 440px) and (min-height: 920px) and (max-height: 940px) and (orientation: portrait) {
  h5 {
    font-size: 2rem;
    margin: 0 auto 1.5rem auto;
    max-width: 95%;
  }

  .demo-container button {
    font-size: 1.4rem;
    padding: 0.7rem 1.5rem;
    max-width: 90%;
    width: 80%;
    margin-bottom: 2rem;
  }
}
