body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
}

.board-container {
  display: flex;
  width: 100vw;
  min-height: 100vh;
  background-color: #f1f1f1;
  box-sizing: border-box;
}

.board-main-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-width: 0;
  box-sizing: border-box;
}
