.password-container {
  height: auto;
  width: 35%;
  margin: 1rem;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  border-radius: 1.5rem;
  background-color: white;
}

.password-form-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.profile-button img {
  margin-left: 0.5rem;
  width: 1.5rem;
  height: 1.5rem;
}
