@font-face {
  font-family: "UNCAGE";
  src: url("../fonts/Uncage.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "UNCAGE_BOLD";
  src: url("../fonts/Uncage_bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Ura_Bum_Bum";
  src: url("../fonts/UraBumBum.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
