.card-container {
  width: 100%;
  height: 40rem;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

/* Применяем стили контейнера к кнопке, сбрасывая дефолтные стили кнопки */
.card-create-container.card-create-button-style {
  /* Сброс стандартных стилей кнопки */
  border: none;
  padding: 0;
  cursor: pointer;
  text-align: inherit;
  font: inherit;
  color: inherit;
  /* Убедитесь, что фон и радиус остаются прежними */
  background-color: rgba(241, 241, 241, 1);

  /* Сохраняем стили вашего контейнера */
  width: 20rem;
  height: 100%;
  border-radius: 1rem;
  display: flex;
  /* Измените на 'column', если хотите, чтобы иконка и текст были вертикально */
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;

  /* Эффект при наведении */
  transition: background-color 0.2s;
}

.card-create-container.card-create-button-style:hover:not(:disabled) {
  background-color: rgba(230, 230, 230, 1); /* Более темный фон при наведении */
}

.card-create-container.card-create-button-style:disabled {
  cursor: not-allowed;
  opacity: 0.7;
}

/* Стиль для иконки и текста внутри */
.card-create-icon {
  width: 3rem; /* Примерный размер иконки */
  height: 3rem;
  opacity: 0.8;
}

.card-create-text {
  font-size: 1.1rem;
  font-weight: 600;
  color: #555;
}
