.title {
  margin: 0.5rem auto 2rem auto;
  text-align: center;
  font-family: UNCAGE_BOLD;
  font-weight: 600;
  font-size: 3rem;
  line-height: 150%;
  letter-spacing: 0%;
  width: 100%;
  color: #202124;
}
