.toast-container {
  position: fixed;
  top: 1.5rem;
  right: 1.5rem;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.toast {
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0.65rem 0.65rem 0.75rem rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 18rem;
  transition: all 0.5s ease-in-out;
  animation: slideIn 0.5s forwards;
  /* Шрифт */
  font-family: Inter;
  font-weight: 700;
  font-style: Bold;
  font-size: 1rem;
  line-height: 150%;
  letter-spacing: 0%;
  vertical-align: middle;
  color: white;
}

.toast-success {
  background-color: #4caf50;
}

.toast-error {
  background-color: #f44336;
}

.toast-info {
  background-color: #2196f3;
}

.toast-warning {
  background-color: #ffc107;
}

.toast-close-button {
  background: none;
  border: none;
  color: #fff;
  font-size: 1.5em;
  cursor: pointer;
  margin-left: 10px;
  opacity: 0.7;
  transition: opacity 0.2s;
}

.toast-close-button:hover {
  opacity: 1;
}

.toast.fade-out {
  animation: slideOut 0.5s forwards;
}

@keyframes slideIn {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideOut {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(120%);
    opacity: 0;
  }
}
